.App {
  /* text-align: center; */
  display: flex;
}

.breedsContainer {
  border: 1.8px solid;
  border-style: groove;
  border-color: black;
  width: 15%;
  padding: 10px;
}

.tableContainer {
  width: 85%;
}

td {
  border: 1.8px solid;
  height: 200px;
}

table {
  border: 1.5px solid;
  width: 100%;
  border-collapse: collapse;
  margin-left: -1px;
}
